<div class="container-fluid">
    <div class="row">
        <div class="col mt-5 offset-md-4">
          <div>
            <h1 class="mb-4">Account Details</h1>
          </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Account Details
                </div>
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item">{{accountlist.account_no}}</li>
                  <li class="list-group-item">{{accountlist.name}}</li>
                  <li class="list-group-item">{{accountlist.balance}}</li>
                  <li class="list-group-item">{{accountlist.email}}</li>
                </ul>
              </div>
        </div>
    </div>
    
</div>