<!-- < class="sidebar bg-success p-2 text-dark bg-opacity-25"> 
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/accounts" routerLinkActive="active">Accounts</a></li>
    <li><a routerLink="/payments" routerLinkActive="active">Payments</a></li>
    <li><a routerLink="/transactions" routerLinkActive="active">Transactions</a></li>
    <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
  </ul> -->

<!-- <div class="col-lg-9 border border-dark " style="min-height: 600px;">
    Larger part of the page 
    <h1 class ="text-justify">Our Services</h1>
    <p>This is the larger part of the page.</p>

</div> -->

<div class="container-fluid w-100 h-90  ">
    <div class="row">
      <div class="col-md-2 bg-primary text-dark">
        <h3 class="text-center  fs-3 mt-4">Menu</h3>
        <ul class="nav d-flex flex-column my-5 fs-5" >
          <li class="nav-item" ><a style="text-decoration: none;" class="link-light m b-4" routerLink="/Accountdetails">Account</a></li>
          <li class="nav-item" ><a style="text-decoration: none;" class="link-light mb-4" routerLink="/AddMoney">Add Money</a></li>
          <li class="nav-item" ><a style="text-decoration: none;" class="link-light " routerLink="/Sendmoney">Send Money</a></li>
          <li class="nav-item" ><a style="text-decoration: none;" class="link-light " routerLink="/paybill">Pay Bills</a></li>
          <li class="nav-item" ><a style="text-decoration: none;" class="link-light " routerLink="/Transactions" href="#">Transaction History</a></li>
        </ul>
      </div>
      <div class="col-lg-10">
        <h1 class="text-center">Our Services <p> 
            GO DIGITAL PAY INSTENT !!!!
          </p>
        </h1>
  
          <div class="row">
  
            <div class="col-md-3 mb-2">
              <div class="card mb-sm-4 p-2 ">
                <img src="/assets/images/i1.jpg" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">Withdraw Money</h5>
                  <div class="text-center"> <a routerLink="/Sendmoney" class="btn btn-primary">Withdraw Money</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-2">
              <div class="card mb-sm-4 p-2 ">
                <img src="/assets/images/i1.jpg" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">Add Money</h5>
                  <div class="text-center"> <a routerLink="/AddMoney" class="btn btn-primary">Add Money</a></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-5">
              <div class="card mb-sm-3 p-2 ">
                <img src="../../assets/images/paybill.png" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">Pay Bills</h5>
                  <div class="text-center"><a routerLink="/paybill" class="btn btn-primary">Pay</a></div>
                </div>
              </div>
            </div>
  
  
            <div class="col-md-3">
              <div class="card mb-sm-3 p-2 ">
                <img src="../../assets/images/view detail.jpg" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">View Account Details</h5>
                  <div class="text-center">
                    <a href="#" class="btn btn-primary" routerLink="/Accountdetails">View</a>
                  </div>
                </div>
              </div>
            </div>
  
        
            <div class="col-md-3 mb-5">
              <div class="card mb-sm-3 p-2 ">
                <img src="../../assets/images/txthistoy.jpg" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">Transaction History</h5>
                  <p class="card-text"></p>
                  <div class="text-center">
                    <a routerLink="/Transactions" class="btn btn-primary">Get History</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-3 mb-5">
              <div class="card mb-sm-3 p-2 ">
                <img src="/assets/images/profile.png" class="card-img-top" alt="image">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title text-center fs-4">Manage Profile</h5>
                  <p class="card-text"></p>
                  <div class="text-center">
                    <a routerLink="/Profile" class="btn btn-primary">Manage Profile</a>
                  </div>
  
                </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>